<div class="myProjectSection">
    <div class="inner">

 
        <div style="text-align: center;" class="headerSection">
            <h2>MY PROJECTS</h2>
        </div>
        <div class="content">
            <div data-aos="fade-right" class="image">
                <img src="assets/meriat.png" alt="">
            </div>
            <div class="text">
                <h3 style="color:#dd4b4e">Online Psychological E-Counseling Project</h3>
                <p> •	User authorization procedures,
                    •	Video, audio and chat conversations on the project,
                    •	Payment and Payment tracking transactions,
                    •	Appointment procedures,
                    •	Instant user status (online, offline) can be followed.
                    </p>
                <a mat-raised-button href="https://psychoapp-durmaz.firebaseapp.com/" target="_blank"><i style="margin-right: 10px;" class="fas fa-check"></i> Look</a>
            </div>
        </div>

        <div class="content">
            <div class="text">

                <ul>
                    <li>
                        <h3 style="color:#dd4b4e">Used technologies:</h3>
                    </li>
                    <li><i style="margin-right: 10px;" class="fas fa-check"></i>Html, CSS, JavaScript
                    </li>
                    <li><i style="margin-right: 10px;" class="fas fa-check"></i>Angular 8, NodeJS</li>
                    <li><i style="margin-right: 10px;" class="fas fa-check"></i>Firebase ( FireStore, CloudFunctions, FireStroge… )
                    </li>
                    <li><i style="margin-right: 10px;" class="fas fa-check"></i>Gcloud, Google App Engine
                    </li>
                    <li><i style="margin-right: 10px;" class="fas fa-check"></i>Webrtc, Stripe Payment API
                    </li>


                </ul>
            </div>
            <div data-aos="fade-left" class="image">
                <img src="assets/20133.jpg" alt="">
            </div>

        </div>
        <div style="width: 100%;padding: 5px ;">
            <hr class="card-divider">
        </div>
        <div class="content">
            <div data-aos="fade-right" class="image">
                <img src="assets/e-commerce.png" alt="">
            </div>
            <div class="text">
                <h3 style="color:#dd4b4e">E-cpmmerce</h3>
                <p>It is an e-commerce site built with WooCommerce, a Wordpress plugin.</p>
               
            </div>
        </div>
    </div>
</div>