
<div class="navigation-wrapper ">
    <div class="center-column">
        <div class="hamburg">
            <i  id="hamburgMenu" class="fas fa-bars"></i>
        </div>
        <div class="banner-image">
           <a style="cursor: pointer;" routerLink="/"> <img src="assets/logo.png" alt="Logo"></a>
          
        </div> 

        <div class="links-wrapper">
            <div class="nav-link">
                <a (click)="scroll('home')">Home</a>
            </div>
 
            <div class="nav-link">
                <a  (click)="scroll('about')">About</a>
            </div>

            <div class="nav-link">
                <a  (click)="scroll('contact')">Contact</a>
            </div>
            
        </div>
    </div>
</div>