<div class="skillsSection" >
    <div class="content">
        <div data-aos="fade-right" class="image">
            <div>
                <img src="/assets/me.png" alt="">
                <h3 style="color:#dd4b4e">Who Am I?</h3>
                <p>I am a Frontend software developer who effectively uses Javascript libraries and worked with web API. I have experience on angular.  I am a fast learner, adaptable and devoted person.</p>
            </div>
            

        </div>
        <div class="skillsPart">
            <div data-aos="fade-left"  id="skills">
              
                    <div class="skillbar clearfix " data-percent="90%">
                        <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                        <div class="skillbar-bar" style="background: #e67e22;"></div>
                        <div class="skill-bar-percent">90%</div>
                    </div> <!-- End Skill Bar -->
            
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                        <div class="skillbar-bar" style="background: #3498db;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div> <!-- End Skill Bar -->
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #46465e;"><span>java Script</span></div>
                        <div class="skillbar-bar" style="background: #5a68a5;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div> <!-- End Skill Bar -->
            
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #810f0f;"><span>Angular</span></div>
                        <div class="skillbar-bar" style="background: #991919;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div> <!-- End Skill Bar -->
            
                    <div class="skillbar clearfix " data-percent="60%">
                        <div class="skillbar-title" style="background: #46465e;"><span>NodeJS</span></div>
                        <div class="skillbar-bar" style="background: #5a68a5;"></div>
                        <div class="skill-bar-percent">60%</div>
                    </div> <!-- End Skill Bar -->
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #d35400;"><span>FireBase</span></div>
                        <div class="skillbar-bar" style="background: #e67e22;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div> <!-- End Skill Bar -->
            
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #2980b9;"><span>WordPress</span></div>
                        <div class="skillbar-bar" style="background: #3498db;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div> <!-- End Skill Bar -->
            
                  
               
            
              
            </div>

        </div>

    </div>

</div>


